LiteSFATestWebService/Web References/SAPWSBudmax/ztbl_webservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char14">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="14" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char200">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="cuky5">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="5" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr15.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="15" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="quantum13.3">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char25">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="25" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal5.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="5" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:element name="ZcreazaComanda">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="Canal" type="n0:char2" />
            <xsd:element minOccurs="0" name="FaraTransp" type="n0:char1" />
            <xsd:element name="GvEvent" type="n0:char1" />
            <xsd:element name="Id" type="n0:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZcreazaComandaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="VMesaj" type="tns:char100" />
            <xsd:element name="VOk" type="n0:char2" />
            <xsd:element name="VTrans" type="n0:curr15.2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZcalcTrap">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="VCity" type="n0:char25" />
            <xsd:element minOccurs="0" name="VKunnr" type="n0:char10" />
            <xsd:element minOccurs="0" name="VNetwr" type="n0:curr15.2" />
            <xsd:element minOccurs="0" name="VRegio" type="n0:char3" />
            <xsd:element minOccurs="0" name="VUl" type="n0:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZcalcTrapResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="VTrap" type="n0:curr15.2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZactDiscMaxim">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PattId" type="n0:char14" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZactDiscMaximResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="VOk" type="n0:char2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZgetPrice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Canal" type="n0:char2" />
            <xsd:element name="City" type="tns:char25" />
            <xsd:element name="Dzterm" type="tns:char4" />
            <xsd:element minOccurs="0" name="GvCant" type="n0:quantum13.3" />
            <xsd:element name="GvKunnr" type="n0:char10" />
            <xsd:element name="GvLgort" type="n0:char4" />
            <xsd:element name="GvMatnr" type="n0:char18" />
            <xsd:element name="GvSite" type="n0:char1" />
            <xsd:element name="GvSpart" type="n0:char2" />
            <xsd:element minOccurs="0" name="GvVrkme" type="n0:unit3" />
            <xsd:element name="GvWerks" type="n0:char4" />
            <xsd:element name="Mp" type="n0:char4" />
            <xsd:element name="Regio" type="n0:char3" />
            <xsd:element name="TipPers" type="tns:char3" />
            <xsd:element name="UlStoc" type="n0:char4" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZgetPriceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ErrorCode" type="xsd:unsignedByte" />
            <xsd:element name="GvCant" type="n0:quantum13.3" />
            <xsd:element name="GvCantFree" type="n0:quantum13.3" />
            <xsd:element name="GvCond" type="n0:char200" />
            <xsd:element name="GvCurrency" type="n0:cuky5" />
            <xsd:element name="GvMatnrFree" type="n0:char18" />
            <xsd:element name="GvNetwr" type="n0:curr15.2" />
            <xsd:element name="GvNetwrFree" type="n0:curr15.2" />
            <xsd:element name="GvNetwrList" type="n0:curr15.2" />
            <xsd:element name="GvNoDisc" type="n0:char1" />
            <xsd:element name="GvVrkme" type="n0:unit3" />
            <xsd:element name="GvVrkmeFree" type="n0:unit3" />
            <xsd:element name="Impachet" type="tns:string" />
            <xsd:element name="Multiplu" type="n0:quantum13.3" />
            <xsd:element name="OutCantUmb" type="n0:quantum13.3" />
            <xsd:element name="OutUmb" type="n0:unit3" />
            <xsd:element name="ProcTrap" type="tns:decimal5.2" />
            <xsd:element name="VMess" type="tns:char100" />
            <xsd:element name="ValTrap" type="n0:curr15.2" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZstareComanda">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NrCom" type="n0:char10" />
            <xsd:element name="PernrCh" type="n0:numeric8" />
            <xsd:element name="Stare" type="n0:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZstareComandaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="VMess" type="n0:char220" />
            <xsd:element name="VOk" type="n0:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZcreazaComanda">
    <wsdl:part name="parameters" element="tns:ZcreazaComanda" />
  </wsdl:message>
  <wsdl:message name="ZcreazaComandaResponse">
    <wsdl:part name="parameter" element="tns:ZcreazaComandaResponse" />
  </wsdl:message>
  <wsdl:message name="ZcalcTrap">
    <wsdl:part name="parameters" element="tns:ZcalcTrap" />
  </wsdl:message>
  <wsdl:message name="ZcalcTrapResponse">
    <wsdl:part name="parameter" element="tns:ZcalcTrapResponse" />
  </wsdl:message>
  <wsdl:message name="ZactDiscMaxim">
    <wsdl:part name="parameters" element="tns:ZactDiscMaxim" />
  </wsdl:message>
  <wsdl:message name="ZactDiscMaximResponse">
    <wsdl:part name="parameter" element="tns:ZactDiscMaximResponse" />
  </wsdl:message>
  <wsdl:message name="ZgetPrice">
    <wsdl:part name="parameters" element="tns:ZgetPrice" />
  </wsdl:message>
  <wsdl:message name="ZgetPriceResponse">
    <wsdl:part name="parameter" element="tns:ZgetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ZstareComanda">
    <wsdl:part name="parameters" element="tns:ZstareComanda" />
  </wsdl:message>
  <wsdl:message name="ZstareComandaResponse">
    <wsdl:part name="parameter" element="tns:ZstareComandaResponse" />
  </wsdl:message>
  <wsdl:portType name="ZTBL_WEBSERVICE">
    <wsdl:operation name="ZcreazaComanda">
      <wsdl:input message="tns:ZcreazaComanda" />
      <wsdl:output message="tns:ZcreazaComandaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZcalcTrap">
      <wsdl:input message="tns:ZcalcTrap" />
      <wsdl:output message="tns:ZcalcTrapResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZactDiscMaxim">
      <wsdl:input message="tns:ZactDiscMaxim" />
      <wsdl:output message="tns:ZactDiscMaximResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZgetPrice">
      <wsdl:input message="tns:ZgetPrice" />
      <wsdl:output message="tns:ZgetPriceResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZstareComanda">
      <wsdl:input message="tns:ZstareComanda" />
      <wsdl:output message="tns:ZstareComandaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZTBL_WEBSERVICE" type="tns:ZTBL_WEBSERVICE">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZcreazaComanda">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZcreazaComandaRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZcalcTrap">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZcalcTrapRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZactDiscMaxim">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZactDiscMaximRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZgetPrice">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZgetPriceRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZstareComanda">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZstareComandaRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZTBL_WEBSERVICE_soap12" type="tns:ZTBL_WEBSERVICE">
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZcreazaComanda">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZcreazaComandaRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZcalcTrap">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZcalcTrapRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZactDiscMaxim">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZactDiscMaximRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZgetPrice">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZgetPriceRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZstareComanda">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZTBL_WEBSERVICE:ZstareComandaRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZTBL_WEBSERVICE">
    <wsdl:port name="ZTBL_WEBSERVICE" binding="tns:ZTBL_WEBSERVICE">
      <soap:address location="http://bg-test01.budmax.bg:8003/sap/bc/srt/rfc/sap/ztbl_webservice/900/ztbl_webservice/ztbl_webservice" />
    </wsdl:port>
    <wsdl:port name="ZTBL_WEBSERVICE_soap12" binding="tns:ZTBL_WEBSERVICE_soap12">
      <wsoap12:address location="http://bg-test01.budmax.bg:8003/sap/bc/srt/rfc/sap/ztbl_webservice/900/ztbl_webservice/ztbl_webservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>